@import "tailwindcss";

body {
  font-family: "Stack Sans Text";
}

@theme {
  --breakpoint-proj: 3000px;
  --color-blackish: #02000d;
  --color-card-bg: #0c0b12;
  --color-border-purple: #14141c;
  --color-yellow-text: #ffdf20;
}

@layer components {
  .card-style {
    @apply bg-card-bg border border-border-purple rounded-sm;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

/* Custom scrollbar for message feed */
.scrollbar-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: oklch(73.375% 0.11232 293.435 / 0.486) #000; /* thumb color, track color */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Chrome, Edge, Safari */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #000000;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #fae26c;
  border-radius: 9999px;
  border: 2px solid #000000;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
